/* LAYOUT */
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background: #45525f;
}
body#subscribe-page {
  pointer-events: none;
}
#map {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: -99;
  background: #8d563d;
}
#test-map {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #8d563d;
}
#open-menu {
  float: right;
  margin: 0 -55px 0 0;
  border-radius: 0 5px 5px 0;
}
#sidebar {
  transform: translateX(-100%);
  background: #eeeeee; /* Fallback */
  background: rgba(255, 255, 255, 0.2);
  transition: 400ms;
}
.no-pad {
  padding: 0;
}
.sidebar-pad {
  padding: 0 0 0 15px;
}
.subscribe {
  margin: 2em 0 2em 0;
}
.leaflet-container .leaflet-control-attribution {
  color: #ffffff;
  background: transparent; /* Fallback */
  background: rgba(255, 255, 255, 0.2);
}

/* TYPOGRAPHY */
h1 {
  margin: 0.2em 0 0.8em 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  font-weight: 600;
  text-align: center;
}
p {
  font-size: 1.2em;
  line-height: 1.5em;
}
.text-muted {
  color: #ffffff;
  font-style: italic;
}
.text-sml {
  font-size: 0.8em;
}
.text-med {
  font-size: 1.2em;
}
.text-lrg {
  font-size: 1.5em;
  font-weight: 600;
}

/* LINKS */
a:link, a:visited {
  text-decoration: underline;
  color: #ffffff;
  transition: 100ms;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  transition: 400ms;
}
a.btn-default {
  color: #333333;
}
a:link img, a:visited img {
  opacity: 1.0;
  transition: 100ms;
}
a:hover img, a:focus img, a:active img{
  opacity: 0.7;
  transition: 400ms;
}
a.typeform-share {
  margin: 1em 0;
  text-decoration: none;
}
a.typeform-share:hover {
  color: #ffffff;
  background-color: #CF5337;
}
.leaflet-container a {
  color: #ffffff;
}
.leaflet-bar a {
  color: #000000;
  text-decoration: none;
}

/* HEADERS & FOOTERS */
.navbar-default {
  background-color: transparent;
  border: none;
}
footer {
  margin: 4em 0 0 0;
}

/* INTERACTION */
input {
  color: #000000;
}
label {
  padding: 0.5em 0 0 0;
}
textarea {
  resize: vertical;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 0 2em;
  max-width: 100%;
  height: 50px;
  text-decoration: none;
  color: #ffffff;
  background-color: #eb5f40;
  border-radius: 2em;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  line-height: 2.2em;
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.popup {
  pointer-events: all;
}
.interactive {
  pointer-events: all;
}

/* IMAGES */
.navbar-brand img {
  width: 200px;
}
footer img {
  width: 100px;
  margin: 0 0 1em 0;
}

/* SHAPES & ANIMATIONS */
.innerblip {
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-radius: 8px;
  opacity: 0.6;
  animation: innerpulse 2600ms ease-out;
  animation-iteration-count: infinite;
}
.outerblip {
  position: relative;
  top: -16px;
  left: -16px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 20px;
  opacity: 0.0;
  animation: outerpulse 2600ms ease-out;
  animation-iteration-count: infinite;
}
@keyframes innerpulse {
  0%, 20% {
    transform: scale(1.0, 1.0);
    opacity: 0.6;
  }
  25% {
    transform: scale(0.8, 0.8);
  }
  30% {
    transform: scale(1.25, 1.25);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.0, 1.0);
    opacity: 0.6;
  }
}
@keyframes outerpulse {
  0%, 25% {
    transform: scale(0.5, 0.5);
    opacity: 0.0;
  }
  50% {
    opacity: 0.5;
  }
  80%, 100% {
    opacity: 0.0;
    transform: scale(1.5, 1.5);
  }
}
@media (max-width: 768px) {
  body {
    pointer-events: all;
  }
  h1 {
    margin: 0.1em 0 0.9em 0;
    font-size: 7vw;
  }
  .navbar-brand img {
    width: 150px;
  }
  footer img {
    width: 80px;
    margin: 0 0 1em 0;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 2.2em;
  }
  .leaflet-control-attribution {
    display: none;
  }
  #map {
    pointer-events: none;
  }
  footer {
    margin: 1em 0 0 0;
  }
}
@media (min-height: 850px) {
  .subscribe {
    margin: 6em 0 4em 0;
  }
  footer {
    margin: 6em 0 0 0;
  }
}
