{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:import/errors",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": [
    "react",
    "import",
    "jsx-a11y"
  ],
  "rules": {
    "space-before-function-paren": [
      "error",
      "always"
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
