/*
  This css file define all the styles of the slides_container and its elements.
*/

/* styles for the slides_container element */
#slides_container{
    display:block;
    position:absolute;
    opacity: 1;
    height: auto;
    width: 270px;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:1000;
    border-radius: 15px;
    /*padding-top: 5px;
    padding-left: 25px;*/
    padding: 10px 0px 10px 25px;
    color: #fff;
    top:20px;
    left: 20px;

  }
  #slides_container #slides{
    display:block;
    position:relative;
    opacity: 1;
    height: inherit;
    overflow-y: auto;
    z-index:1000;
  }

  #slides_container h1{
    color: #eee;
    font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;

  }
   #slides_container h3{
    color: #eee;
    font-family:Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 5px;
    margin-bottom: 15px;
  }

   #slides_container h3::after{
     display: none;
   }

  #slides_container p{
    /*font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-size:13px;
    color: #ccc;
    margin-bottom: 12px;
  }
  #slides_container .slide .btn-info{
    border-radius: 30px;
    font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;
    margin-left: 25%;
   }
  #slides_container .slide .btn-info a{
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;

    }
  #slides_container #slides h1{
    font-size: 30px;
  }

  /*#hide_story{
    height: auto;
  }*/

  #hide_story span{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #666;
    width: 30%;
    margin: 0px;
  }

  #hide_story span:hover{
    cursor: pointer;
    font-size: 13px;
  }

  p.story-tip {
    border:1px dashed #aaa;
    padding:5px;
    color:#aaa!important;
    font-style: italic;
    font-size:13px!important;
    line-height: 120%!important;
  }
