<style>

.announcement {
  background-color: red;
  color: white
}

.announcement p {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  padding: 15px;
  margin: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}

.announcement p a {
  display: inline-block;
  font-weight: bold;
  /*text-decoration: none;
  color: white;
  border: 1px solid white;*/
  padding: 5px 10px;
  margin-top: 0.8em;
  margin-bottom: 0.8em;

  color: red;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}

.announcement p a:hover {

  text-decoration: none;
  color: white;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  /*color: red;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);*/
}

</style>


<div class="row announcement">
  <p>Hey! Our project has a new home within the <i>OpenPlanetary</i> community and framework:
  <a href="http://openplanetary.co/blog/community/whereonmars-opm.html">What Next?</a></p>
</div>
