<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                  </br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="./img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The "Where On Mars?" Project</h4>
                                    <h4 class="subheading">Visualising the ExoMars rover candidates landing sites</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    The "Where On Mars?" project started as an <a href="http://www.sciops.esa.int/index.php?project=ESACTRAINEES&page=2015Projects#Project4"
                                    target="_blank">
                                    ESAC Trainee Project</a> in collaboration with <a href="http://www.cartodb.com" target="_blank">CartoDB</a>.
                                    The objective was to prototype a web map visualisation of <a href="http://exploration.esa.int" target="_blank">ESA's ExoMars 2020</a> rover candidate landing sites;
                                    serving the general purpose of increasing public awareness of the scientific and robotic exploration of Mars in Europe.
                                    <a class="page-scroll" href="#team">Learn more</a>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="./img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The ExoMars 2020 Mission</h4>
                                    <h4 class="subheading">Searching for Life on Mars</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    The 2020 mission of the <a href="http://exploration.esa.int" target="_blank">ESA's ExoMars programme</a> will deliver a European rover and
                                    a Russian surface platform to the surface of Mars.
                                    While the platform will study the martian environment, the rover will travel across
                                    the surface to search for signs of past and present life.
                                    It will collect samples with a drill and analyse them with
                                    next-generation instruments. ExoMars will be the first mission to combine
                                    the capability to move across the surface and to study Mars at depth.
                                    <a href="http://exploration.esa.int/mars/48088-mission-overview/" target="_blank">Learn more.</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="./img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The Landing Site Selection Process</h4>
                                    <h4 class="subheading">How to find a suitable landing site for the rover?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    In October 2013, a <a href="http://exploration.esa.int/mars/53454-exomars-2018-landing-site-selection-working-group/" target="_blank">
                                    Landing Site Selection Working Group (LSSWG)</a> was appointed to make recommendations to
                                    the European Space Agency (ESA) and the Russian Federal Space Agency (Roscosmos).
                                    After a call to the scientific community for landing sites, four candidate landing sites were shortlisted
                                    for further investigation, both in term of scientific interest and engineering safety.
                                    In October 2015, <em>Oxia Planum</em> was recommended as the primary candidate for the
                                    landing site of the ExoMars 2020 mission. A further recommendation was made to also consider
                                    Oxia Planum as one of the two candidate landing sites for the backup launch opportunity in 2020.
                                    The year before launch, ESA will make the final decision.
                                    <a href="http://exploration.esa.int/mars/53845-landing-site/" target="_blank">Learn more</a>
                                  </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="./img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The Interactive Map</h4>
                                    <h4 class="subheading">How does it work?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    The "Where On Mars?" interactive map has been designed to guide you through the main scientific and engineering
                                    constraints for the selection of the ExoMars 2020 landing site. It allows you to explore Mars and each candidate landing site
                                    using a selection of the same ESA and NASA planetary images, and additional geospatial information used
                                    by the scientists involved in the selection process. It relies on CartoDB and other open-source mapping technologies for processing, storing, and visualising data on the web.
                                    The source code of the front-end web interface is available on GitHub.
                                    <a class="page-scroll" href="#team">Learn more</a>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="./app">
                              <div class="timeline-image" onmouseover="this.style.background='#{{ site.color.secondary }}';" onmouseout="this.style.background='#{{ site.color.primary }}';">
                                <!-- <a href="../app"><h4>Explore</br>the landing sites!</h4></a> -->
                                <h4>Explore</br>the landing sites!</h4>
                            </div>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
